<!DOCTYPE html>
<head>
  <title>&#x1f916 &#128173 Your Mom = ?</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='laugh.png') }}"
  />
  <script src="{{ url_for('static', filename='user.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>&#x1f916 &#128173 Your Mom = ?</h3>
  <div class="text-zone">
    <p>
      Uses <a href="https://openai.com/api/">GPT3</a>, openai's text completion model, to generate jokes based on prompts you provide.
    </p>
    <p>
      <b>Ex:</b> stocks <b>=></b> Yo mama so fat, when she skips a meal the stock market crashes.
    </p>
    <p>
      Keep in mind this is an AI system, so the jokes may suck or be offensive in a way other than intended.
    </p>
  </div>
  <p>
    <form action="/" method="post" id="input-form">
      <div class="form-group">
        <input type="text" name="context" id="context" placeholder="Enter context for the joke" required maxlength="100"/>
      </div>
      <div class="form-group">
        <input type="submit" id="submit" value="Generate joke" />
      </div>
      <input name="id" class="id" id="id"/>
    </form>
  </p>
  <div id="output">

  </div>
</body>
